$white: #ffffff;

.cover {
  position: relative;
  background-image: url('/src/images/cover.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.confetti-area {
  position: absolute;
  top: -50px;
  left: -50px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.names-kr-box {
  position: absolute;
  top: 3em;
  left: 4em;

  .names {
    color: #eeeeee;
    display: block;
    font-size: 1rem;
    letter-spacing: 0.8em;
    line-height: 2;
  }
}

.cover-title-container {
  width: 100%;
  position: absolute;
  bottom: 1.5em;
}

.names-en-box {
  width: 100%;
  display: flex;
  justify-content: center;

  .names {
    display: block;
    color: $white;
    word-spacing: 5px;
    font-size: 2.2rem;
  }
}

.en-sacramento {
	font-family: 'Sacramento', serif;
	font-weight: 400;
	font-style: normal;
}

.event-date-and-place-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .event-date-and-time,
  .event-place {
    display: block;
    color: $white;

    &.kr {
      font-size: 1rem;
    }

    &.en {
      font-size: 1.4rem;
    }
  }

  .event-date-and-time.kr {
    margin-bottom: 0.4em;
  }
}
